<div class="bg-primary pt-3">
    <h4>This is another child component</h4>
    <p>COmponent: @componentTitle</p><br />

    <input type="text" id="thisInput" @attributes ="inputDictionary"/>
    <p>Checking the contents of the dictionary:</p>
    @if (inputDictionary.TryGetValue("placeholder",out result))
    {
        @result.ToString();
    }
</div>


@code {
    [Parameter]
    public string componentTitle { get; set; }
    public object result = new object();

    [Parameter(CaptureUnmatchedValues =true)]
    public Dictionary<string, object> inputDictionary { get; set; } = new Dictionary<string, object>();
}
