<div class="row ">
<h4 class="primary pl-4 pt-2">Grandchild component</h4><br />
<p>There is a message from the child component - @messageForGrandChild</p>
<p>There is also a lucky number variable sent from the parent - @luckyNumberForGrandchild</p>
</div>

@code {
    [CascadingParameter(Name ="MessageFromGrandParent")]
    public string messageForGrandChild{ get; set; }
    [CascadingParameter(Name = "LuckyNumberFromGrandParent")]
    public string luckyNumberForGrandchild{ get; set; }
}
